progress {
    display: none;
}

progress#show {
    display: block;
}

#youtube-loader {
    background-color: red;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

img {
    width: 100%;
}