* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    display: none;
}

div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dashed grey;
}

div#negro {
    border-color: black;
}